{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "ignorePatterns": "**/*.md",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-airbnb"
  ],
  "rules": {
    "linebreak-style": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "lines-between-class-members": "off",
    "no-unused-vars": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off"
  }
}